<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Space Monster</h1>
        <p class="home-text">Got a hungry black hole?<br class="mob"/>
        Time to feed it everything.</p>
        <p class="home-text-two">Control a hungry black hole through endless space — consume meteorites, grow massive, and keep Earth safe from the
        chaos.</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.fonfon.spacemonster&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="goole play" loading="lazy">
        </a>
    </div>
</section>